
.item {
  width: 160px;
  border: 2px solid #212121;
  border-radius: 8px;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16p;
  box-shadow: 0 4px 4px 0 rgba(196, 196, 196, 0.25);
  background-color: #fbfbfb;
}
.avatar {
  width: 100px;
  margin-top: 22px;
}
.name {
  font-weight: 500;
  font-size: 40px;
}
.status {
  font-size: 24px;
  letter-spacing: 0.04em;
  margin-bottom: 22px;
}
.status.online {
  color: #699F59;
}
.status.offline {
  color: #EA3323;
}
